/*Body*/
body{
    font-family: verdana, sans-serif;
    margin: 20px;
    background-color: #fcfcfc;
}

/*main elements*/
.main-container{
    max-width:80vw;
    margin:auto;
    padding:20px;
    background-color:#3c3ca3;
    border-radius:8px solid #E0E0E5;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;

}
#container-div{
    height: 400px;
    width: auto;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
/* main- nav */
#main-nav{
    display:flex;
    align-items:center;
    color:white;
    justify-content:space-around;
 
    background-color: #dedede;
    padding:10px;
    font-weight:bold;
    border-radius:8px;
    color:rgb(252, 252, 252);
    gap: 20px;
    text-decoration: none;


}
/* Form*/
/*Buttons*/



