/*Body*/
body{
    font-family: verdana, sans-serif;
    margin: 20px;
    background-color: #fcfcfc;
}

/*main elements*/
.main-container{
    max-width:80vw;
    margin:auto;
    padding:20px;

    border-radius:8px solid #E0E0E5;

}


/* main- nav */

/* Form*/
/*Buttons*/



