/*Body*/
*{
    margin:0;
    padding:0;

}
body{
    
    margin:2rem;
    padding:0;

    
}

a{
    text-decoration:none;
    color:black;
    margin:0.5rem;
    padding:0.5rem;
    align-items:center;
}

/*main elements*/
.main-container{
  
    border-radius:8px solid #E0E0E5;    

}
.main-section{
    margin:2rem;
    padding:1rem;
}
#movie-form{
   margin:2rem;
}

h1{
    font-size:2.5rem;
    margin:0;
    padding:1rem 0 0.5rem 0;
}
h2{

    padding:1rem;
    margin:0;
}
h3{
    font-size:1.2rem;
    margin:0;
    padding:0.5rem 0 0.5rem 0;
}
li{
    padding:0.5rem;
    text-decoration:none;

}
.movie-form{
    margin: 0.5 1 0.5 1rem;
    padding:0.5rem;
}


/* main- nav */

/* Form*/
/*Buttons*/



